  <div class="eqLogic-widget eqLogic allowResize norefresh" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard" >
        <center><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a></strong></center><br />

    <div class="row">
    <div class="col-md-12">
        <div class="row"><div class="status#id#"><center><b>#model# :  #status#</b></center></div></div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4 bcharge#id#"><center><i class="techno-charging"></i></center></div><div class="col-md-8 bcharge#id#"><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#bcharge_id#"><b>#bcharge# %</b></span></div>
        </div><div class="row">
            <div class="col-md-4 timeleft#id#"><center><i class="fas fa-clock-o"></i></center></div><div class="col-md-8 timeleft#id#"><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#timeleft_id#"><b>#timeleft# mn</b></span></div>
        </div><div class="row">
            <div class="col-md-4 outpower#id#"><center><i class="fas fa-bolt"></i></center></div><div class="col-md-8 outpower#id#"><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#outpower_id#"><b>#outpower# W</b></span></div>
        </div>
    </div>
    <div class="col-md-6">
    	<div class="row">
            <div class="col-md-4 linev#id#"><center><i class="techno-cable1"></i></center></div><div class="col-md-8 linev#id#"><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#linev_id#"><b>#linev# V</b></span></div>
        </div><div class="row">
            <div class="col-md-4 loadpct#id#"><center><i class="techno-courbes"></i></center></div><div class="col-md-8 loadpct#id#"><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#loadpct_id#"><b>#loadpct# %</b></span></div>
        </div><div class="row">
            <div class="col-md-4 battv#id#"><center><i class="fas fa-bolt"></i></center></div><div class="col-md-8 battv#id#"><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#battv_id#"><b>#battv# V</b></span></div>
        </div>
    </div>
	</div>
</div>
<style>

</style>
<script>
	if ('#status#'.indexOf("sur batterie") > -1) {
    	$('div.status#id#').css('color','red');
    }

</script>
